body {
    width: 500px;
    margin: auto;
    display: block;
    text-align: center;
    border: 5px solid black;
    text-align:center;

}
/*#leftButton:focus {
    font-size: 18px;
    border: 2px solid green;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background-color: white;
}
#leftButton:target {
    font-size: 18px;
    border: 2px solid red;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background-color: red;
}*/


#leftButton {
    display: inline-block;
    width: 220px;
    height: 25px;
    background: red;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-decoration-color: red;
}
#rightButton {
    display: inline-block;
    width: 220px;
    height: 25px;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-decoration-color: red;
}
.buttons {
    border: 3px solid red;
}
/*.buttons {
   display:block;
   width:20%;
   color: red;
   margin:0 auto;
   position:relative;
   text-align:center;
   cursor:pointer;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   /*background-color:white;*/
   /*border:1px solid red;
   border-radius: 25px;
   padding: 20px;
   width: 300px;
   height: 15px;
}*/*/
