
#table, #divDump {
    width: 500px;
    margin: auto;
    display: block;
    text-align: center;
}
.hiddenDiv {
    border-image: 2px solid black;
    position: relative;
    border-bottom: 1px solid grey;
    max-width: 500px;
    max-height: 500px;
}
.shownDiv {
    position: relative;
    border-bottom: 1px solid grey;
    height: 100px;
    padding-bottom: 5px;
}
.numDiv {
    float: left;
    margin-left: 10px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
}
.titleDiv {
    position: absolute;
    width: 400px;
    margin-right: auto;
    font-weight: bold;
    padding-left: 30px;
    /*padding-top: 20px;*/
}
.textDiv {
    position: absolute;
    margin-right: auto;
}
.lengthDiv {
    text-align: right;
    margin-bottom: 10px;
}
.IGN {
    position: absolute;
    display: inline-block;
    background: white;
    padding: 10px;
    vertical-align: baseline;
    text-align: center;
    border-radius: 25px/50px;
    color: white;
    font-weight: bold;
    font-size: 100%;
    background-color: red;
    left: 200px;
    padding: 5px;
    border: 0 none;
    margin-top: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.title {
    position: absolute;
    display: inline-block;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 25px/50px;
    color: white;
    left: 0px;
    bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    background: transparent;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#pagination {
    display: block;
    width: 50px;
    height: 15px;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 25px/50px;
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.videoButton {
    display: inline-block;
    width: 220px;
    height: 20px;
    background: red;
    padding: 10px;
    text-align: center;
    border-radius: 25px/50px;
    color: black;
    font-weight: bold;
    text-decoration-color: red;
}
.articleButton {
    display: inline-block;
    width: 220px;
    height: 20px;
    background: red;
    padding: 10px;
    text-align: center;
    border-radius: 25px/50px;
    color: black;
    font-weight: bold;
    text-decoration-color: red;
}
