html, body {
    height: 100%;
    width: 1000px;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
p {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.img {
    height: 600px;
    width: 500px;
}
